body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* black shade form 10-1 */
.black-10 {
  background: #f2f2f2;
}
.black-9 {
  background: #e6e6e6;
}
.black-8 {
  background: #d9d9d9;
}
.black-7 {
  background: #cccccc;
}
.black-6 {
  background: #bfbfbf;
}
.black-5 {
  background: #b3b3b3;
}
.navdrop {
  margin-right: 5rem;
}

.cart-badge,
.cart-badge:hover {
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  font-style: italic;
  background: #000;
}

.signup {
  position: relative;
  padding: 10rem 5rem 0rem 5rem;
  width: 100%;
  height: 100vh;
  background: url("https://pixabay.com/get/52e4d7464c52aa14f6d1867dda6d367d1336dee752506c48702973dd9f4dc65bbc/niederhorn-4425606_1920.jpg")
    center center no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .signup {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
  }

  .product-image {
    max-width: 80%;
  }

  .filter-side {
    min-width: 100% !important;
  }
}

.signup:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: 0.6;
}

.profile-card {
  width: 100%;
  max-height: 30rem;
}

.product-card {
  min-height: 30rem;
  max-height: 40rem;
  margin: 0 auto;
}

.profile-card-2 {
  max-height: 30rem;
}

.mainbar {
  padding: 0;
  margin: 0;
}

.product-image {
  min-width: 100%;
  max-width: 100%;

  min-height: 100%;
  max-height: 100%;
}
.filter-side {
  max-width: 25% !important;
}
.jumbotron {
  width: 100%;
  height: 40vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

.product-img {
  min-height: 100px;
}

/* .jumbotron h2 {
  margin-top: -20px;
} */

@media only screen and (max-width: 600px) {
  .jumbotron h2 {
    margin-top: 10px;
  }
}

/* cart Css */

.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }

  .actions .btn-info {
    float: left;
  }
  .actions .btn-danger {
    float: right;
  }

  table#cart thead {
    display: none;
  }
  table#cart tbody td {
    display: block;
    padding: 0.6rem;
    min-width: 320px;
  }
  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }

  table#cart tfoot td {
    display: block;
  }
  table#cart tfoot td .btn {
    display: block;
  }
}

.cart-summary {
  margin-top: 8rem;
}
